footer {
  background-image: url("../img/background-sunflowers-upscaled.png");
  background-size: cover; /* or 'contain' */
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.footer-container {
  margin-bottom: 15rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-col h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.footer-col h3::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
  bottom: -8px;
  left: 0;
}

.footer-col p,
.footer-col a {
  color: var(--text-color);
  margin-bottom: 0.6rem;
  display: block;
  text-decoration: none;
  transition: color 0.3s;
  text-transform: uppercase;
}

.footer-col a:hover {
  color: var(--secondary-color);
}

.copyright {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #aaa;
}

@media (max-width: 800px) {
  .footer-container {
    margin-bottom: 25rem;
  }
  .copyright {
    text-align: left;
    font-size: 0.8rem;
  }
}
