@import url("var.css");

header {
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3em;
  position: relative;
  padding-bottom: 5px;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.5s ease;
}

nav a:hover::after {
  width: 100%;
}
