@import url("var.css");

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--background-primary-color);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 6rem;
  color: var(--text-color);
  text-align: center;
}

.hero p {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
}

.changing-word {
  transition: opacity 0.5s ease-in-out;
}
.fade-out {
  opacity: 0;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 3.9rem;
  }
  .hero p {
    font-size: 1.8rem;
  }
  .hero {
    height: 70vh;
  }
}
