@import url("var.css");

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--background-primary-color);
}

.hero-content {
  width: 100%;
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 6rem;
  color: var(--text-color);
  text-align: center;
  margin: 0.5rem 0;
}

.hero p {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
}

.word-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  vertical-align: bottom;
}

.changing-word {
  display: inline-block;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.4rem;
  }
  .hero {
    height: 70vh;
    margin-top: 5rem;
  }
}
