html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.opensource {
  padding: 6rem 0;
  background-color: var(--background-primary-color);
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2em;
}

.section-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  color: var(--text-color);
}

.section-title h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--secondary-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.opensource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.opensource-grid a {
  text-decoration: none;
}

.opensource-card {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 20px;
  transition: 0.2s ease-in-out;
  left: 0px;
  top: 0px;
}

.opensource-card:hover {
  left: 10px;
  top: 10px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}

.btn-shadow-drop--black {
  border: 3px solid var(--text-color);
  color: var(--text-color);
  box-shadow: var(--text-color) 8px 8px 0px 0px;
}

.opensource-icon {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

.opensource-card h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.opensource-card p {
  line-height: 1.6;
  color: var(--text-color-light);
  font-style: italic;
}

.about {
  padding: 6rem 0;
  background-color: var(--light);
}

.about-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-image {
  flex: 1;
  position: relative;
}

.about-image img {
  width: 80%;
  animation: spin 80s linear infinite;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.about-text h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--background-primary-color);
  bottom: -10px;
  left: 0;
}

.about-text p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--text-color);
}

.highlight {
  color: var(--primary-color);
}
.highlight-secondary {
  color: var(--secondary-color);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .section-title h2 {
    font-size: 2rem;
  }
  .section-title p {
    font-size: 1.5rem;
  }
  .opensource-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .opensource-card h3 {
    font-size: 1.6rem;
  }
  .opensource-card p {
    font-size: 1.2rem;
  }
}
