html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.opensource {
  padding: 6rem 0;
  background-color: var(--background-primary-color);
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  color: var(--text-color);
}

.section-title h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--secondary);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.opensource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.opensource-grid a {
  text-decoration: none;
}

.opensource-card {
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 20px;
  transition: 0.2s ease-in-out;
  left: 0px;
  top: 0px;
}

.opensource-card:hover {
  left: 10px;
  top: 10px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}

.btn-shadow-drop--black {
  border: 3px solid var(--text-color);
  color: var(--text-color);
  box-shadow: var(--text-color) 8px 8px 0px 0px;
}

.opensource-icon {
  font-size: 2.5rem;
  color: var(--secondary);
  margin-bottom: 1.5rem;
}

.opensource-card h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.opensource-card p {
  line-height: 1.6;
  color: var(--text-color-light);
  font-style: italic;
}
