/* package Section CSS */
.package-section {
  padding: 80px 0;
  background-color: var(--primary-color);
}

.package-section a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--secondary-color);
  position: relative;
}

.section-description {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

.section-title:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: var(--secondary-color);
}

.package-item {
  display: flex;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -20px 25px 25px var(--secondary-color);
}

.package-item.reverse {
  flex-direction: row-reverse;
  box-shadow: 20px 25px 25px var(--secondary-color);
}

.package-content {
  flex: 3;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.package-title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--secondary-color);
}

.package-brief {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  line-height: 1.6;
  color: var(--secondary-color);
}

.package-description {
  flex: 1;
  padding: 20px;
}

.package-description p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--primary-color);
}

.package-logo {
  width: 140px;
  margin: 0 auto;
}

.package-link {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.package-link:hover {
  border-color: var(--secondary-color);
}

/* Responsive styles */
@media (max-width: 768px) {
  .package-item,
  .package-item.reverse {
    flex-direction: column;
  }

  .package-content {
    text-align: center;
  }

  .section-title {
    font-size: 2rem;
  }
}
