:root {
  --primary-color: #ffc300;
  --secondary-color: #5a189a;
  --background-primary-color: #ffffff;
  --background-secondary-color: #ffc300;
  --text-color: #3a3a3a;
  --text-color-light: #f2f2f2;
}
